body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* header Start */
.header {
    padding: 20px 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: flex;
    font-size: 25px;
    font-weight: 900;
}

.header .logo img {
    margin: -5px 5px 0 0;
    width: 33px;
}

.header .navbar ul {
    display: flex;
}

.header .navbar li {
    margin-right: 30px;
}

.header .navbar ul a {
    font-weight: 500;
}

.navbar ul li a:hover,
.header .logo:hover,
.header .social-links a:hover {
    color: #f13150;
}

.header .social-links a {
    font-size: 18px;
    margin-right: 7px;
}

/* header End */


/* hero start */
.hero .hero-left {
    padding-top: 50px;
}

.hero .hero-heading {
    font-size: 50px;
    font-weight: 700;
    animation: from-left 1s 0.2s linear;
}

.hero .hero-left .description {
    line-height: 1.5;
    font-size: 17px;
    color: #828282;
    margin-bottom: 30px;
    padding-right: 100px;
    animation: from-bottom 1s 0.4s linear;
}

.hero .hero-left a.cta-btn {
    animation: from-bottom 1s 0.5s linear;
}

.hero .hero-right {
    animation: from-right 1s 0.4s linear;
    padding-top: 30px;
    height: 508px;
    background: url(images/shapes/Group-min.png) no-repeat 70% 50%;
    background-size: 57%;
}

.hero .hero-right img {
    width: 60%;
    height: 80%;
    margin: 0px 0 0 150px;
}
/* hero End */


/* about Start */
.about {
    padding-bottom: 20px;
    height: 75vh;
    margin: 50px 0;
    background: url(images/shapes/Frame-min.jpg) no-repeat center center;
    background-size: cover;
}

.about .about-left {
    display: flex;
    justify-content: center;
}

.about .about-left img {
    margin-top: -100px;
    width: 75%;
}

.about .about-right .aboutme-text {
    line-height: 1.7;
    padding-right: 150px;
    margin-bottom: 30px;
}
/* about End */


/* recipie Start */
.recipie .recipie-hading {
    text-align: center;
}

.recipie .recipie-hading .recipie-descrip {
    color: #000;
    padding: 0 300px;
    line-height: 1.6;
}

.recipie .recipie-container {
    gap: 50px;
    margin-top: 60px;
}

.recipie .recipie-item {
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
    padding: 17px;
    background: #fff;
    border-radius: 15px;
}

.recipie .recipie-item img {
    margin-bottom: 7px;
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.recipie .recipie-item h3 {
    font-weight: 900;
    color: #000;
}

.recipie .recipie-item p {
    padding-right: 20px;
    line-height: 1.7;
}
/* recipie end */


/* follower Start */
.follower {
    margin: 25px 0 60px;
    text-align: center;
}

.follower-container {
    border-radius: 30px;
    margin-top: 60px;
    padding: 50px;
    background: #fff;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
}

.follower h1 {
    color: #000;
    font-weight: 900;
    font-size: 40px;
}

.follower h3 {
    font-size: 15px;
}

.follower .follow-item .color {
    color: #f13150;
}
/* follower end */


/* footer Start */
.footer {
    padding-top: 50px;
    text-align: center;
    height: 250px;
    background: #0B0D17;
}

.footer h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #c7c5c5;
}

.footer h1 span {
    color: #f13150;
    background-image: linear-gradient(to right, rgb(241, 49, 80), rgb(212, 29, 34));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer p {
    color: #fff;
}
/* footer End */